.card {
    border: none;
    max-width: 300px;
}

.card-img-top {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.card-title,
.card-price {
    color: black;
    font-weight: 500;
}

small {
    color: rgb(39, 38, 38);
}