<div class="contact-card card">
    <img [src]="imagePath" class="card-img-top contact-card-img" alt="Contact Image">
    <div class="card-body contact-card-body">
        <h5 class="card-title contact-card-title">{{contact.name}}</h5>
        <p class="card-text contact-card-text">
            <strong>City:</strong> {{contact.city}}<br>
            <strong>State:</strong> {{contact.state}}<br>
            <strong>Address:</strong> {{contact.address}}<br>
            <strong>Phone:</strong> {{contact.phone}}
        </p>
    </div>
</div>